.app-container {
  display: flex;
  flex-direction: column; /* Header在上，Body在下 */
  min-height: 100vh;
}

.app-body {
  display: flex;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow-y: auto;
}

.sidebar {
    width: 200px;
    background-color: var(--bg-color-light);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: 2px 0 5px var(--border-color-light);
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 5px;
}

.sidebar-nav a {
    display: block;
    padding: 12px 20px;
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar-nav a:hover,
.sidebar-nav a.active-link {
    background-color: var(--bg-color-header);
    border-left: 3px solid var(--secondary-color);
}